#second{
    background-color: #554b8d;width: 100px;
    height: 100px;
    font-size: larger;
}
#third{
    background-color: #554b8d;width: 100px;
    height: 100px;
    font-size: larger;
}